.mm_border( @border, @size, @pos1, @pos2 )
{
    content: '';
    border-@{border}-width: 1px;
    border-@{border}-style: solid;
    display: block;
    @{size}: 100%;
    position: absolute;
    @{pos1}: 0;
    @{pos2}: 0;
}

.mm_border-top()
{
    // LESSlang has Interpolations limitation, so we have to define pseudo classes manaully.
    // See: https://github.com/less/less.js/issues/2091
    &:before {   
        .mm_border( e("top"), e("width"), e("top"), e("left") );
    }
}

.mm_border-right()
{
    &:after {
        .mm_border( e("right"), e("height"), e("right"), e("top") );
    }
}

.mm_border-bottom()
{
    &:after {
        .mm_border( e("bottom"), e("width"), e("bottom"), e("left") );
    }
}

.mm_border-left()
{
    &:before {
        .mm_border( e("left"), e("height"), e("left"), e("top") );
    }
}